.header {
  background: #1f0138;
  margin: 0;
  display: flex;
  padding: 12px 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.fontPrimary {
  color: #adadad;
  font-family: Copperplate;
  letter-spacing: 12px;
  padding: 0;
  margin: 0;
  font-size: 3em;
  text-decoration: none !important;
  text-decoration-style: none !important;
}

/* font-style: Optima; */

.fontSecondary {
  color: #adadad;
  font-family: Copperplate;
  font-size: 2em;
  letter-spacing: 6px;
  opacity: 0.8;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.backboard {
  margin-top: 15px;
  width: 150px;
}

@media (max-width: 767px) {
  .fontPrimary {
    font-size: 1.6em;
    letter-spacing: 8px;
  }
  .fontSecondary {
    font-size: 1.2em;
    letter-spacing: 4px;
  }
  .backboard {
    width: 75px;
    margin-top: 10px;
  }
}
